*{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}
/*inicio de footer*/

.footer{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.footer ul li{
    padding: 20px;
    list-style-type:none;
    display: flex;
    justify-content: center;
}
.footer ul li a{
    text-decoration: none;
    color: black;
    font-size:30px;
}

.footer_li_item1{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*fin del footer*/